*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
    background: linear-gradient(120deg, rgb(185, 178, 178),gray,rgb(72, 68, 68));
    font-family:'Times New Roman', Times, serif;
}

p{
    color: white;
    font-size: 20px;
}

#time-left, #timer{
    color: red;
    font-weight: bold;
}

#high-score{
    font-size: 15px;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 30px;
    width: 100%;
    max-width: 700px;
    background-color: rgb(44, 43, 43);
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

#start-btn, #restart-btn, #next-btn{
    width: 5rem;
    background-color: gray;
}

.btn:hover:not([disabled]){
    color: white;
    background-color: black;
    transform: scale(1.03);
}

.btn:disabled{
    cursor: no-drop;
}

/* #start-page{


} */

#header{
    display:flex;
    justify-content: center;
    justify-content: space-between;
    width: 300px;
}

.option{
    margin: 10px;
    width: 300px;
    height: 30px;
    transition: 0.3s;
    border-radius: 10px;

}

.correct{
    background-color: green;
}

.incorrect{
    background-color: red;
}

#quiz-screen{
    padding: 0;
    width: 600px;
    height: 400px;
}

.hidden{
    display: none;

}

h1{
    font-size: 4rem;
    color: rgb(18, 130, 18);
}

h2{
    font-size: 2rem;
    color: rgb(18, 130, 18);

}


.align{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}